<div class="container">
  <div>
    <acme-navbar creationDate="ctrl.creationDate" />
  </div>

  <div class="well" ncy-breadcrumb></div>


  <div class="table-responsive">
    <table class="table table-hover table-striped" st-pipe="ctrl.callServer" st-table="ctrl.displayed">
      <thead>
        <th st-sort="id">#</th>
        <th st-sort="name">Name</th>
        <th st-sort="tenantId">TenantId</th>
        <th>Db</th>
        <th>Server</th>
        <th>Tag</th>
        <th>Created</th>
        <th>Active</th>
        <th>Actions</th>
      </thead>
      <tbody class="table-hover" ng-show="!ctrl.isLoading">
        <tr  ng-repeat="tenant in ctrl.displayed">
          <td>{{tenant.id}}</td>
          <td>{{tenant.name}}</td>
          <td>{{tenant.tenantId}}</td>
          <td>
            {{tenant.db.hostname}}
            <br />
            {{tenant.db.name}}
            <!--<br />-->
            <!--{{tenant.db.user}}-->
          </td>
          <td>
            {{tenant.server.name}}
            <br />
            {{tenant.server.ip}}
          </td>
          <td>{{tenant.tag}}</td>
          <td>{{tenant.createdDate}}</td>
          <td>{{tenant.active}}</td>
          <td>
            <a ng-href="#/tenants/{{tenant.id}}/certificate">Certificate</a>
          </td>
        </tr>
      </tbody>
      <tbody ng-show="ctrl.isLoading">
        <tr>
          <td colspan="9" class="text-center">Loading ... </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="9" class="text-center">
            <div st-items-by-page="10" st-pagination="" st-template="app/components/pagination/paging.html"></div>
          </td>
        </tr>
      </tfoot>
    </table>

  </div>

  <!--
  <div class="jumbotron text-center">
    <h1>'Allo, 'Allo!</h1>
    <p class="lead">
      <img src="assets/images/yeoman.png" alt="I'm Yeoman"><br>
      Always a pleasure scaffolding your apps.
    </p>
    <p class="animated infinite" ng-class="ctrl.classAnimation">
      <button type="button" class="btn btn-lg btn-success" ng-click="ctrl.showToastr()">Splendid Toastr</button>
    </p>
    <p>
      With ♥ thanks to the contributions of<acme-malarkey extra-values="['Yeoman', 'Gulp', 'Angular']" />
    </p>
  </div>

  <div class="row">
    <div class="col-sm-6 col-md-4" ng-repeat="awesomeThing in ctrl.awesomeThings | orderBy:'rank'">
      <div class="thumbnail">
        <img class="pull-right" ng-src="assets/images/{{ awesomeThing.logo }}" alt="{{ awesomeThing.title }}">
        <div class="caption">
          <h3>{{ awesomeThing.title }}</h3>
          <p>{{ awesomeThing.description }}</p>
          <p><a ng-href="{{awesomeThing.url}}">{{ awesomeThing.url }}</a></p>
        </div>
      </div>
    </div>
  </div>

  -->

</div>
