<div class="table-responsive">
  <table class="table table-hover table-striped" st-pipe="ctrl.callServer" st-table="ctrl.displayed">
    <thead>
      <th st-sort="id">#</th>
      <th st-sort="name">Name</th>
      <th st-sort="tenantId">TenantId</th>
      <th>Db</th>
      <th>Server</th>
      <th>Tag</th>
      <th>Created</th>
      <th>Active</th>
      <th>Actions</th>
    </thead>
    <tbody class="table-hover" ng-show="!ctrl.isLoading">
      <tr ng-repeat="tenant in ctrl.tenants">
        <td>{{tenant.id}}</td>
        <td>{{tenant.name}}</td>
        <td>{{tenant.tenantId}}</td>
        <td>
          {{tenant.db.hostname}}
          <br />
          {{tenant.db.name}}
          <!--<br />-->
          <!--{{tenant.db.user}}-->
        </td>
        <td>
          {{tenant.server.name}}
          <br />
          {{tenant.server.ip}}
        </td>
        <td>{{tenant.tag}}</td>
        <td>{{tenant.createdDate}}</td>
        <td>
          <a ng-click="ctrl.activate(tenant)">
            <i ng-if="tenant.active" class="fa fa-check fa-lg" title="Activate"></i>
            <i ng-if="!tenant.active" class="fa fa-times fa-lg" title="Disable"></i>
          </a>
        </td>
        <td>
          <a ng-href="#/tenants/{{tenant.id}}/certificate" title="Certificate"><i class="fa fa-certificate fa-lg"></i></a>
          <a ng-href="#/tenants/{{tenant.id}}/refresh" title="Refresh"><i class="fa fa-refresh fa-lg"></i></a>
        </td>
      </tr>
    </tbody>
    <tbody ng-show="ctrl.isLoading">
      <tr>
        <td colspan="9" class="text-center">Loading ... </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="9" class="text-center">
          <div st-items-by-page="10" st-pagination="" st-template="app/components/pagination/paging.html"></div>
        </td>
      </tr>
    </tfoot>
  </table>
</div>
