<h2 ng-if="ctrl.data.id != null">Edit Server</h2>
<h2 ng-if="ctrl.data.id == null">Add Server</h2>
<form class="form-horizontal" novalidate>
  <fieldset>
    <div class="form-group" ng-if="ctrl.data.id != null">
      <label class="col-sm-2 control-label">ID</label>
      <div class="col-sm-10">
        <p class="form-control-static">{{ctrl.data.id}}</p>
      </div>
    </div>
    <div class="form-group">
      <label for="cluster" class="col-sm-2 control-label">Cluster: </label>
      <div class="col-sm-10">
        <select id="cluster" required class="form-control" ng-options="item.id as item.name for item in ctrl.clusters" ng-model="ctrl.data.cluster.id">
          <option value="">-- Select Cluster --</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label for="role" class="col-sm-2 control-label">Role: </label>
      <div class="col-sm-10">
        <select id="role" required class="form-control" ng-options="item for item in ctrl.zones" ng-model="ctrl.data.role">
          <option value="">-- Select Role --</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label for="name" class="col-sm-2 control-label">Name: </label>
      <div class="col-sm-10">
        <input type="text" class="form-control" ng-model="ctrl.data.name" id="name" maxlength="255" required />
      </div>
    </div>
    <div class="form-group">
      <label for="ip" class="col-sm-2 control-label">IP: </label>
      <div class="col-sm-10">
        <input type="text" pattern="((^|\.)((25[0-5])|(2[0-4]\d)|(1\d\d)|([1-9]?\d))){4}/(?:\d|[12]\d|3[01])$"
               class="form-control" ng-model="ctrl.data.ip" id="ip" maxlength="255" required />
      </div>
    </div>
    <div class="form-group">
      <label for="active" class="col-sm-2 control-label">Status: </label>
      <div class="col-sm-10">
        <input type="checkbox" name="active" id="active" ng-model="ctrl.data.active"  />
      </div>
    </div>
    <div class="form-group" ng-if="ctrl.data.id != null">
      <label class="col-sm-2 control-label">Created Date</label>
      <div class="col-sm-10">
        <p class="form-control-static">{{ctrl.data.createdDate}}</p>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">&nbsp;</label>
      <div class="col-sm-10">
        <button class="btn btn-primary" ng-click="ctrl.save(ctrl.data)">Save</button>
        <button class="btn btn-primary" ng-click="ctrl.reset()">Reset</button>
      </div>
    </div>
  </fieldset>
</form>

